**.idea**
**.DS_Store**
**a.out**
**.jpg
**.png
**.pptx
**.JPG
**.mpg
**.txt
**.log
**.zip
**.out
**.gz
**.aux
**.o
**.swp
**.pyc
**.Rhistory

cs7641_machine_learning/assignment1/mnist/*
cs7641_machine_learning/assignment1/rkekatpure3/
cs7641_machine_learning/assignment1/writeup/*
!cs7641_machine_learning/assignment1/writeup/*.tex
!cs7641_machine_learning/assignment1/writeup/*.pdf
cs7641_machine_learning/assignment2/writeup/*
!cs7641_machine_learning/assignment2/writeup/*.tex
!cs7641_machine_learning/assignment2/writeup/*.pdf
!cs8803O03_reinforcement_learning/hw1/*.png
